In [1]:
a = 5

In [2]:
a

5

In [3]:
a + a

10

In [4]:
a = a + a

In [5]:
print('test ' + '\\\\\\\n ' + 'test')

test \\\
 test

In [6]:
type(a)

int

In [7]:
mystring = "Hello World"

In [8]:
mystring

'Hello World'

In [9]:
mystring[1:]

'ello World'

In [10]:
name = 'Sam'

In [11]:
name = name[0:1]

In [12]:
name

'S'

In [13]:
name = 'Sam'

In [14]:
name

'Sam'

In [15]:
name = name[0:2]
name

'Sa'

In [16]:
test = 'asdfghjk'
test[4:3]

''

In [17]:
test[2:3]

'd'

In [18]:
test[3:2]

''

In [19]:
my_dict = {'key':'value1','key2':'value2'}

In [20]:
my_dict['key2']

'value2'

In [21]:
m['v1'] = 'test'

NameError: name 'm' is not defined

In [ ]:
m = {}

In [ ]:
m['v1'] = 'test'

In [ ]:
m

In [ ]:
m.items()

In [ ]:
t = ()

In [ ]:
t[1] = 1

In [ ]:
t.index('d')

In [ ]:
t = tuple()

above is tuple with nothing.  and immutable

In [ ]:
b = bool

In [ ]:
b

In [ ]:
b = tuple

In [ ]:
b

In [ ]:
set([1,1,2,3])

In [ ]:
pwd

In [ ]:
with open('test.txt', w) as file:
    file.write('This is myfile')

In [ ]:
type((1,2,3))

In [1]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for items in enumerate(zip(mylist1,mylist2)):
    print(items)

(0, (1, 'a'))
(1, (2, 'b'))
(2, (3, 'c'))

In [2]:
my = 'hello'

ml = list(my)
ml

['h', 'e', 'l', 'l', 'o']

In [3]:
my

'hello'

In [1]:
 def myfunc(*args):
    list = []    
    for arg in args:
        if arg%2 == 0:
            list.append(arg)
            
    return list

In [2]:
myfunc(-2,1,2,3,4)

[-2, 2, 4]

In [22]:
def myfunc(input):
    out = str()
    for (i,letter) in enumerate(input):
        if i%2==0:
            out = out + letter.upper()
        else:
            out = out + letter.lower()
    return out

In [23]:
myfunc('thisistring')

'ThIsIsTrInG'

In [1]:
def square(num):
    return num**2

In [2]:
my_nums =[1,2,3,4,5]

In [3]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(filter(square,my_nums))

[1, 2, 3, 4, 5]

In [113]:
import math
def vol(rad):
    return (4.0/3*math.pi*rad**3)

In [114]:
vol(2)

33.510321638291124

In [6]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [7]:
ran_bool(5,1,4)

False

In [12]:
def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f'Number {num} is in range {low} {high}')
    else:
        print(f'Number {num} is NOT in range {low} {high}')

In [18]:
ran_check(5,1,4)

Number 5 is NOT in range 1 4

In [25]:
up_low("Hello Mr. Rogers, how are you this fine Tuesday?")

No. of Upper case characters : 4
No. of Lower case characters : 33

In [26]:
def up_low(s):
    lower = 0
    upper = 0
    for letter in s:
        if letter.isupper():
            upper +=1
        elif letter.islower():  # need to test for islower bc of spaces
            lower +=1
            
    print(f'No. of Upper case characters : {upper}')            
    print(f'No. of Lower case characters : {lower}')

In [27]:
up_low("Hello Mr. Rogers, how are you this fine Tuesday?")

No. of Upper case characters : 4
No. of Lower case characters : 33

In [119]:
def unique_list(l):
    
    ulist = list(set(i for i in l))
   
    return ulist

In [120]:
unique_list([1,1,1,1,2,2,2,3,3,3,3,4,5,5])

[1, 2, 3, 4, 5]

In [142]:
from functools import reduce
def multiple(numbers):

    g = reduce((lambda x, y:  x * y), numbers)
    return g

In [143]:
multiple([1,2,3,-4])

-24

In [50]:
def palindrome(s):
    return s == s[::-1]

In [53]:
palindrome('helleh')

True

In [107]:
import string
def ispangram(str1):
    
    return set(l for l in list(str1.lower()) if l != ' ') == set(s for s in list(string.ascii_lowercase))
    
               # == set(string.ascii_lowercase.split())

In [112]:
ispangram('The quick brown fox jumps over the lazy dog')

False